/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item, .item-double{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;

}

.horizontal-group{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.stretch {
  align-items:stretch;
}

.set-width{
  width: 200px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 52px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: 18px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px){

   /* -------  Navigation ------- */

header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

header nav ul li a:hover {
  color: #bdbdbd
}
nav > .horizontal-group{
  flex-direction: row;
  padding: 10px;
}

.logo{
  display:flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: center;
}

/* ---  Groups & Items --- */
.group {
  display: flex;
  flex-direction: row;
}

form > .horizontal-group{
  flex-direction: column;
  padding: 10px;
}


/* -------  Search Form ------- */
form {
  display:flex;
  flex-direction: row;
 justify-content: space-between;
}

form button {
  width: 200px;
  font-size: 18px;
}

}

@media all and (max-width: 800px) and (min-width:480px){
  form {
    display:flex;
    flex-direction: column;
    padding: 10px;
  }

  form > .horizontal-group{
    flex-direction: row;
    justify-content: space-between;
  }

  form button {
    width: 100%;
  }
}

@media all and (max-width: 350px){
  .logo {
  font-size: 15vw;
  }


  form > .horizontal-group{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .set-width{
    width:auto;
  }

  header nav ul li a {
    font-size: 5.2vw;
  }

  form button {
    font-size: 5.0vw;
  }

  h2{
    font-size: 7.4vw;
  }

  .horizontal-group{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  label, p, ul li{
    font-size: 5.5vw;
  }
}

@media all and (min-width: 800px){
  .set-width{
    width:auto;
  }
}