/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item, .item-double{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0px 20px 0;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.horizontal-group{
  display: flex;
  flex-direction: row;
  margin: 10px 10px 20px 10px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.stretch {
  align-items:stretch;
}

.set-width{
  width: 60%;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
}

.logo {

  font-family: "Pangolin", cursive;
  font-size: 18vw;
  text-align: center;
  padding: 20px 20px 0px 20px;
  color: #fff;
}

nav {
  padding:0px 60px 5px 60px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  flex:1;
  color: #fff;
  text-decoration: none;
  font-size: 5.0vw;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  flex-direction: column;
}

form label {
  font-weight: bold;
  overflow: hidden;
}

.search-button{
  flex:1;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  overflow: hidden;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px){

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }

  p, li {
    font-size: 12px;
  }

   /* -------  Navigation ------- */

header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

nav {
  flex:1;
  padding: 0;
  justify-content: center;
}

header nav ul li a:hover {
  color: #bdbdbd
}

header nav ul{
justify-content: right;
}

header nav ul li a{
  margin-right: 10px;
  font-size: 14px;
  }

.horizontal-group{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}

.logo{
  display:flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: center;
  padding: 0 0 0 5px;
}

/* ---  Groups & Items --- */
.group {
  display: flex;
  flex-direction: row;
}

.item, .item-double{
  margin: 0 20px 0 0;
}


/* -------  Search Form ------- */
form {
  display:flex;
  flex-direction: row;
 justify-content: space-between;
 overflow: hidden;
}

form label {
justify-items: center;
}

form label, form input{
  font-size: 14px;
}

form button {
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.set-width {
  width:100%;
  flex:1;
}

form > .item {
  display:flex;
  flex-direction: column;
  flex:1;
  margin: 0 6vw 0 0px
}

#datepicker{
  width:100%;
}
}

@media all and (max-width:225px){
  form button {
    font-size: 8.0vw;
  }

  h2 {
    overflow: hidden;
  }
}